body
{
    background: linear-gradient(45deg, rgba(253,29,29,1) 1%, rgba(252,244,69,1) 50%, rgba(100,252,69,1) 100%);
}
.list-group-item-text
{
	font-family: 'Playball',cursive;
	font-size: 25px
}
.list-group-item
{
	background-color:#73f1ff;
}
#contact iframe
{
    width: 100%;
}
.contact_1 h3
{
    display: inline;
}
.contact_1 a
{
    text-shadow: none;
}
 
input
{
    background: grey
}


.nutrition_li
{
  margin-top: 13px;
}

.nutrition_li h4
{
    border-bottom: 1px solid white;
    padding: 8px;
}

.nutrition_li img
{
  border-radius: 25px;
}

.nutrition_li p
{
  margin-top:10px;
}

.header_entrepreneur
{
  line-height: 2;
}